doctype html
head
  title|trackerTimer
  link(
    rel='stylesheet',
    href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css',
    integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ',
    crossorigin='anonymous'
  )
body
  br
  .jumbotron.mx-auto.align-middle(
    id='jumbotron',
    display='block',
    style='width: 400px;'
  )
    h1|trackerTimer
    br
    form.form-inline
      .form-group
        input.form-control.mr-2.mb-2(
          type='text',
          id='url',
          placeholder='URL'
        )
        button.btn.btn-primary.mr-2.mb-2(
          id='submit'
        )
          |Submit
    br
    .small
      |Enter a fully qualified URL (http or https) and click Submit.
      |e.g., https://www.github.com/
script(
  src='https://code.jquery.com/jquery-3.1.1.slim.min.js',
  integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n',
  crossorigin='anonymous'
  )
script(
  src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js',
  integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb',
  crossorigin='anonymous'
)
script(
  src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js',
  integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn',
  crossorigin='anonymous'
)
script(src='index.js')
